- var user = messages[0].user;
.grid-33
    .app--section
        ul(class="app--message--list")
            li
                h3 Conversation with 
                    a #{user.name}
                ul(class="app--message--conversation")
                    each message in messages[0].conversation
                        if message.type == "recieved"
                            li(class="app--message")
                                div(class="app--avatar" style=`background-image: url(${user.profile_img})`)
                                    img(src=user.profile_img)
                                p(class="app--message--text") #{message.text}
                                p(class="app--message--timestamp") #{message.date}
                        else if message.type == 'sent'
                            li(class="app--message--me")
                                div(class="app--avatar" style=`background-image: url(${account_user.profile_img})`)
                                    img(src=account_user.profile_img)
                                p(class="app--message--text") #{message.text}
                                p(class="app--message--timestamp") #{message.date}
